
/* You can add global styles to this file, and also import other style files */
.divider {
    width:30px;
    height:auto;
    display:inline-block;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
